/* Nova Field CSS */

[dusk="update-and-continue-editing-button"] {
  display: none;
}

/* [dusk="cancel-update-button"] {
  display: none;
} */

[dusk="create-and-add-another-button"] {
  display: none;
}


